body {
  margin: 50px;
}

textarea {
  margin: 0px;
  height: 213px;
}

select {
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  width: 120px;
  height: 40px;
  float: right;
  background: white;
}

#waktu,
#aspek {
  display: inline;
}

a {
  float: right;
}

#close {
  width: 20px;
  height: 20px;
}
